button{
    border: none;
    background: transparent;
}
.card{
    max-width: fit-content;
    margin-bottom: 15px;
    background-color: indigo;
    color: #fff;
}
.mat-card-header-text {
    margin: 0 !important;
}
mat-card-content{
    padding: 0 40px;
}